In [1]:
import requests
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
locations = {
    "Arabian Sea": {"lat": "15.54", "lon": "64.44"},
    "Bay of Bengal": {"lat": "14.65", "lon": "87.89"},
    "Central Indian Ocean": {"lat": "-10.00", "lon": "78.00"},
    "Coast of Australia": {"lat": "-25.02", "lon": "109.23"}
}

For Arabian Sea

In [3]:
url = "https://marine-weather-api-apiverve.p.rapidapi.com/v1/marineweather"

querystring = {"lat": "15.54", "lon": "64.44"}

headers = {
	"x-rapidapi-key": "9e707b4dccmsha526964ad0f44e0p10fab6jsn3b4c3979c03e",
	"x-rapidapi-host": "marine-weather-api-apiverve.p.rapidapi.com",
	"Accept": "application/json"
}

response = requests.get(url, headers=headers, params=querystring)

df = pd.DataFrame(response.json())

In [7]:
df

         status error                                               data
location     ok  None                       {'lat': 15.54, 'lon': 64.44}
weather      ok  None  {'maxtempc': 25.5, 'maxtempf': 77.9, 'mintempc...

In [8]:
data_expanded = df['data'].apply(pd.Series)

In [10]:
data_expanded

,lat,lon,maxtempc,maxtempf,mintempc,mintempf,avgtempc,avgtempf,maxwindmph,maxwindkph,totalprecipmm,totalprecipin,totalsnowcm,avgviskm,avgvismiles,moonphase,moonillumination
location,15.54,64.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather,NaN,NaN,25.5,77.9,24.5,76.1,25.3,77.5,14.0,22.6,0.0,0.0,0.0,10.0,6.0,Last Quarter,27.0

In [11]:
df = pd.concat([df, data_expanded], axis = 1)

In [13]:
df.drop(columns = ['status', 'error', 'data'], inplace = True)

In [14]:
df

,lat,lon,maxtempc,maxtempf,mintempc,mintempf,avgtempc,avgtempf,maxwindmph,maxwindkph,totalprecipmm,totalprecipin,totalsnowcm,avgviskm,avgvismiles,moonphase,moonillumination
location,15.54,64.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather,NaN,NaN,25.5,77.9,24.5,76.1,25.3,77.5,14.0,22.6,0.0,0.0,0.0,10.0,6.0,Last Quarter,27.0

In [19]:
df = df.ffill().iloc[[-1]]

In [21]:
df = df.reset_index()
df.drop(columns=['index'])

,lat,lon,maxtempc,maxtempf,mintempc,mintempf,avgtempc,avgtempf,maxwindmph,maxwindkph,totalprecipmm,totalprecipin,totalsnowcm,avgviskm,avgvismiles,moonphase,moonillumination
0,15.54,64.44,25.5,77.9,24.5,76.1,25.3,77.5,14.0,22.6,0.0,0.0,0.0,10.0,6.0,Last Quarter,27.0

In [15]:
df.to_csv("weather.csv")

In [ ]:
# import requests
import json

url = "https://marine-weather-api-apiverve.p.rapidapi.com/v1/marineweather"

headers = {
    # Replace with your actual API key
	"x-rapidapi-key": "9e707b4dccmsha526964ad0f44e0p10fab6jsn3b4c3979c03e",
	"x-rapidapi-host": "marine-weather-api-apiverve.p.rapidapi.com",
    "Accept": "application/json"
}

# A list of coordinates for key locations in the Indian Ocean


# Dictionary to store all our results
ocean_weather_data = {}

for location_name, coords in locations.items():
    print(f"Fetching weather for {location_name}...")
    try:
        response = requests.get(url, headers=headers, params=coords, timeout=10)
        response.raise_for_status()  # Raises an HTTPError for bad responses (4xx or 5xx)
        ocean_weather_data[location_name] = response.json()
    except requests.exceptions.RequestException as e:
        print(f"Could not retrieve data for {location_name}: {e}")

# Print the collected data in a readable format
print("\n--- Collected Weather Data ---")
with open('indian_ocean_weather_data.json', 'w') as f:
    json.dump(ocean_weather_data, f, indent=2)

Fetching weather for Arabian Sea...
Fetching weather for Bay of Bengal...
Could not retrieve data for Bay of Bengal: HTTPSConnectionPool(host='marine-weather-api-apiverve.p.rapidapi.com', port=443): Read timed out. (read timeout=10)
Fetching weather for Central Indian Ocean...
Fetching weather for Coast of Australia...

--- Collected Weather Data ---