In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Fisheries.csv")
data

,ISSCAP CODE,Species,Category,Source,Family,SpcID,StudyLocality,Region,StartYear,EndYear,...,Dist,DistRank,MTL,MTLRank,BLD,BLDRank,CPI,CPIRank,PriceRank,RankTotal
0,37.0,Caranx carangus,LD,"IJF 1992 39 (3,4) Reuben et al",CARANGIDAE,NaN,"Tamilnadu,Pon",SE,1981.0,1988.0,...,96.30,6,3.50,3,2.80,1,81.5,1,3,48.0
1,34.0,Tachysurus serratus,LD,"Bull.40 CMFRI, 1987",ARIIDAE,NaN,Cochin,SW,1981.0,1981.0,...,100.00,6,3.44,4,4.20,2,662.8,6,4,42.0
2,37.0,Caranx carangus,LD,"JMBA 1994,36(1&2) Kasim",CARANGIDAE,NaN,Tuticorin,SE,1981.0,1983.0,...,96.30,6,3.50,3,2.80,1,81.5,1,3,49.0
3,37.0,Caranx carangus,LD,"JMBA 1994,36(1&2) Kasim",CARANGIDAE,NaN,Tuticorin,SE,1981.0,1983.0,...,96.30,6,3.50,3,2.80,1,81.5,1,3,47.0
4,38.0,Carcharhinus limbatus,LD,Trophic Modelling of Arabian Sea of Karnataka,CARCHARHINIDAE,48.0,Mangalore,SW,2000.0,2001.0,...,83.40,6,4.45,2,5.00,2,662.8,6,6,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,57.0,Loligo duvauceli,CP,"Bangladesh J. Fish.Res.2004,8(1) Samad et al",LOLIGINIDAE,5026.0,Kakinada,SE,1995.0,1999.0,...,91.18,6,4.18,2,3.91,2,81.5,1,5,55.0
640,57.0,Loligo duvauceli,CP,"Silas et al., CMFRI Bull.no. 37",LOLIGINIDAE,5026.0,Chennai,SE,1979.0,1980.0,...,91.18,6,4.18,2,3.91,2,81.5,1,5,49.0
641,57.0,Loligo duvauceli,CP,"Silas et al., CMFRI Bull.no. 37",LOLIGINIDAE,5026.0,Chennai,SE,1979.0,1980.0,...,91.18,6,4.18,2,3.91,2,81.5,1,5,50.0
642,57.0,Loligo duvauceli,CP,"Silas et al., CMFRI Bull.no. 37",LOLIGINIDAE,5026.0,Cochin,SW,1978.0,1980.0,...,91.18,6,4.18,2,3.91,2,662.8,6,5,56.0
643,57.0,Loligo duvauceli,CP,"Silas et al., CMFRI Bull.no. 37",LOLIGINIDAE,5026.0,Cochin,SW,1978.0,1980.0,...,91.18,6,4.18,2,3.91,2,662.8,6,5,55.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 61 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ISSCAP CODE        638 non-null    float64
 1   Species            644 non-null    object
 2   Category           644 non-null    object
 3   Source             642 non-null    object
 4   Family             644 non-null    object
 5   SpcID              640 non-null    float64
 6   StudyLocality      644 non-null    object
 7   Region             644 non-null    object
 8   StartYear          633 non-null    float64
 9   EndYear            630 non-null    float64
 10  Gear               623 non-null    object
 11  GScore             644 non-null    float64
 12  GRank              644 non-null    int64
 13  Sex                636 non-null    object
 14  K                  644 non-null    float64
 15  KRank              644 non-null    int64
 16  M                  643 non-null    float64
 17  F                  643 non-null    float64
 18  Z                  643 non-null    float64
 19  Tzero              625 non-null    float64
 20  ExpRate            644 non-null    float64
 21  ERRank             639 non-null    float64
 22  LenYear1           535 non-null    float64
 23  LenYear2           566 non-null    float64
 24  LenYear3           560 non-null    float64
 25  LenYear4           544 non-null    float64
 26  Yield              593 non-null    float64
 27  FecundityMin       597 non-null    float64
 28  FecundityMax       589 non-null    float64
 29  Fecundity          644 non-null    int64
 30  FcRank             640 non-null    float64
 31  MeanSizeMin        540 non-null    float64
 32  MeanSizeMax        512 non-null    float64
 33  MeanSize           585 non-null    float64
 34  LengthRangeMin     514 non-null    float64
 35  LengthRangeMax     519 non-null    float64
 36  Lr                 644 non-null    float64
 37  Linf               644 non-null    float64
 38  LinfRank           644 non-null    int64
 39  MeanSizeByLinf     561 non-null    float64
 40  MeanSizeByLm       486 non-null    float64
 41  LrByLinf           644 non-null    float64
 42  LrRank             644 non-null    int64
 43  LmMin              538 non-null    float64
 44  LmMax              504 non-null    float64
 45  Lm                 644 non-null    int64
 46  LmBL               638 non-null    float64
 47  LmRank             644 non-null    int64
 48  SpawningSeason     361 non-null    object
 49  NumSpawningMonths  644 non-null    int64
 50  NSMRank            639 non-null    float64
 51  Dist               644 non-null    float64
 52  DistRank           644 non-null    int64
 53  MTL                644 non-null    float64
 54  MTLRank            644 non-null    int64
 55  BLD                643 non-null    float64
 56  BLDRank            644 non-null    int64
 57  CPI                644 non-null    float64
 58  CPIRank            644 non-null    int64
 59  PriceRank          644 non-null    int64
 60  RankTotal          632 non-null    float64
dtypes: float64(39), int64(13), object(9)
memory usage: 307.0+ KB

In [5]:
data.isnull().sum()

ISSCAP CODE     6
Species         0
Category        0
Source          2
Family          0
               ..
BLDRank         0
CPI             0
CPIRank         0
PriceRank       0
RankTotal      12
Length: 61, dtype: int64

In [6]:
data.describe()

,ISSCAP CODE,SpcID,StartYear,EndYear,GScore,GRank,K,KRank,M,F,...,Dist,DistRank,MTL,MTLRank,BLD,BLDRank,CPI,CPIRank,PriceRank,RankTotal
count,638.000000,640.000000,633.000000,630.000000,644.000000,644.000000,644.000000,644.000000,643.000000,643.000000,...,644.000000,644.000000,644.000000,644.000000,643.000000,644.000000,644.000000,644.000000,644.000000,632.000000
mean,38.884013,2136.487500,1988.710900,1994.666667,11.463975,4.021739,0.961941,3.548137,1.559154,6.159054,...,66.783882,4.451863,3.454848,3.448758,4.185032,1.976708,360.561879,3.757764,4.035714,49.080696
std,6.958885,1533.809548,72.745004,9.053102,2.924574,1.259302,0.498522,1.402901,0.910355,81.982235,...,28.323585,1.761656,0.642798,1.230325,2.171197,0.767386,246.108490,2.083861,1.111357,6.279149
min,31.000000,48.000000,180.000000,1964.000000,4.500000,1.000000,0.120000,1.000000,0.000000,0.000000,...,5.380000,1.000000,2.000000,2.000000,0.000000,0.000000,16.100000,1.000000,1.000000,27.000000
25%,34.000000,1181.000000,1984.000000,1988.000000,9.900000,3.000000,0.610000,3.000000,1.000000,1.369500,...,38.280000,3.000000,2.935000,2.000000,3.030303,2.000000,81.500000,1.000000,3.000000,46.000000
50%,36.000000,1612.000000,1990.000000,1994.500000,11.700000,4.000000,0.850000,3.000000,1.450000,2.520000,...,76.770000,5.000000,3.495000,3.500000,3.910000,2.000000,298.600000,4.000000,4.000000,50.000000
75%,42.000000,4033.000000,2000.000000,2002.000000,13.400000,5.000000,1.300000,5.000000,2.020000,4.025000,...,91.180000,6.000000,4.140000,5.000000,4.800000,2.000000,662.800000,6.000000,5.000000,54.000000
max,57.000000,5026.000000,2008.000000,2009.000000,17.600000,6.000000,3.900000,6.000000,10.878300,2081.000000,...,100.000000,6.000000,4.500000,6.000000,19.100000,5.000000,662.800000,6.000000,6.000000,63.000000

In [7]:
data.value_counts("ISSCAP CODE")

ISSCAP CODE
34.0    192
37.0    124
45.0     84
35.0     61
57.0     59
36.0     56
38.0     18
42.0     16
31.0     10
33.0      8
43.0      5
47.0      3
56.0      2
Name: count, dtype: int64