In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("Fisheries.csv")

In [7]:
df.sample(5)

,ISSCAP CODE,Species,Category,Source,Family,SpcID,StudyLocality,Region,StartYear,EndYear,...,Dist,DistRank,MTL,MTLRank,BLD,BLDRank,CPI,CPIRank,PriceRank,RankTotal
86,34.0,Saurida tumbil,LD,Sivakami et al 2009 unpub,SYNODONTIDAE,472.0,Cochin,SW,1993.0,1999.0,...,82.00,6,4.14,2,6.300000,3,662.8,6,4,54.0
199,34.0,Nemipterus japonicus,SD,Trophic Modelling of Arabian Sea of Karnataka,NEMIPTERIDAE,1367.0,Mangalore,SW,1999.0,2001.0,...,96.34,6,2.68,5,2.900000,1,662.8,6,4,58.0
6,38.0,Carcharhinus sorrah,LD,"Kasim, AFSIB, 1996",CARCHARHINIDAE,52.0,Tuticorin,SE,1990.0,1993.0,...,41.94,3,4.15,2,4.545455,2,81.5,1,6,27.0
262,34.0,Johnieops aneus,SD,Jayasankar 1997 IJMS 24: 153-157,SCIAENIDAE,1486.0,Gulf of Mannar,SE,1988.0,1992.0,...,24.09,2,3.50,3,3.333333,2,81.5,1,3,32.0
642,57.0,Loligo duvauceli,CP,"Silas et al., CMFRI Bull.no. 37",LOLIGINIDAE,5026.0,Cochin,SW,1978.0,1980.0,...,91.18,6,4.18,2,3.910000,2,662.8,6,5,56.0